*{
    margin: 0px;
    padding: 0px; 
    
}

html{
    height: 100%;
}

.img {
    width: 280px;
    position: relative;
    top: 10px;
    left: 860px;
}

.logo{
    width: 100%;
    position: relative;
    background-color: rgb(0, 174, 255);
    height: 292px
}

.links{
    position: relative;
}

.b1 {
    width: 50px;
    left:  789px;  
    position: relative;
    height: 34px;
    bottom: 30px;
}

.b2 {
    width: 50px;
    position: relative;
    left: 801px;
    height: 34px;
    bottom: 30px;
}

.b3 {
    width: 50px;
    position: relative;
    left: 974px;
    height: 34px;
    bottom: 30px;
}

.b4 {
    width: 60px;
    position: relative;
    left: 980px;
    height: 34px;
    bottom: 30px;
}

.nav {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 21px;
    height: 1678px;
}

.texto1{
    position: relative;
    top: -236px;
    width: 607px;
    height: 252px;
    left: 992px;
    font-size: 22px;

}

.img2{
    position: relative;
    width: 616px;
    height: 381px;
    left: 331px;
    top: 56px;
}

.img3{
    position: relative;
    width: 599px;
    height: 881px;
    top: -114px;
    left: 342px;
  }


.img4{
    position: relative;
    width: 493px;
    height: 284px;
    top: -993px;
    left: 997px;
}

.texto2{
    position: relative;
    top: -868px;
    width: 607px;
    height: 252px;
    left: 992px;
    font-size: 22px;
}

.footer{
    width: 100%;
    height: 340px;
    background-color: rgb(0, 174, 255);
}

.insta{
    position: relative;
    width: 403px;
    height: 229px;
    left: 893px;
}

.supercell{
    position: relative;
    width: 313px;
    height: 218px;
    left: 227px;
}